# ---- Python ----
/__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# ---- Environnements virtuels ----
/venv/
/env/
/.venv/

# ---- Fichiers système / IDE ----
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# ---- Fichiers temporaires ----
*.tmp
*.bak
*.old
*.cache

# ---- Build / Dist ----
/build/
/dist/
*.egg-info/
*.spec

# ---- Projet spécifique ----
/playlists.json
/window.json
/test.py
/todo


# ---- OS ----
**/desktop.ini
